body {
  font-size: 0.95em;
  height: 99vh;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cbd5e1;
}
main {
  display: flex;
  width: 99%;
  height: 99vh;
  padding: 50px 20px;
  background-color: #fafaf9;
  border-radius: 20px;
}
.section-left,
.section-right {
  width: 50%;
  padding: 25px;
}

.section-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-top,
.card-bottom {
  width: 60%;
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px 25px;
  font-size: 0.8em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card-top {
  align-self: flex-end;
}
h4 {
  margin: 3px auto;
}
ul {
  list-style: none;
}

li {
  font-size: x-small;
  margin-top: 10px;
  margin-left: -40px;
}
li img {
  width: 15px;
  margin-bottom: -5px;
}
.img {
  width: 30%;
  padding-right: 5px;
}
.star-img {
  width: 15px;
  margin-top: -7px;
}
.star {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5c044;
  border-radius: 50%;
  text-align: center;
}
